Shared/Helpers/GlobalConstant.swift
GoogleService-Info.plist
.DS_Store
UserInterfaceState.xcuserstate
xcuserdata
.DS_Store
My Dictionary.xcodeproj/project.xcworkspace/xcuserdata/xander1100001.xcuserdatad/UserInterfaceState.xcuserstate
